#! /bin/sh
# /etc/init.d/shout
#
# Cloud9 init script.

### BEGIN INIT INFO
# Provides:          cloud9
# Required-Start:    $remote_fs $syslog
# Required-Stop:     $remote_fs $syslog
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: Start Cloud9 at boot time.
# Description:       Enable Cloud9.
### END INIT INFO

PID=/var/run/shout.pid
PID=/var/run/cloud9.pid
USER=nobody
BIN="{{ cloud9_bin_path }}"
PORT="{{ cloud9_webdriver_port }}"
FOREVER_BIN="/usr/bin/forever"

# Carry out specific functions when asked to by the system
case "$1" in
  start)
    echo "Starting Cloud9."
    $FOREVER_BIN --pidFile $PID --uid $USER $BIN start -w $PROJECT_ROOT -p $PORT
    ;;
  stop)
    if [ -f $PID ]; then
      echo "Stopping Cloud9.";
      kill -TERM $(cat $PID);
      rm -f $PID;
    else
      echo "shout is not running.";
    fi
    ;;
  restart)
    echo "Restarting Cloud9."
    if [ -f $PID ]; then
      kill -TERM $(cat $PID);
      rm -f $PID;
    fi
    $FOREVER_BIN --pidFile $PID --uid $USER $BIN start -w $PROJECT_ROOT -p $PORT
    ;;
  status)
    if [ -f $PID ]; then
      echo "Cloud9 is running.";
    else
      echo "Cloud9 is not running.";
      exit 3
    fi
    ;;
  *)
    echo "Usage: /etc/init.d/shout {start|stop|status|restart}"
    exit 1
    ;;
esac

exit 0