#! /bin/sh
# /etc/init.d/shout
#
# Cloud9 init script.

### BEGIN INIT INFO
# Provides:          cloud9
# Required-Start:    $remote_fs $syslog
# Required-Stop:     $remote_fs $syslog
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: Start cloud9 node server at boot time.
# Description:       Run cloud9 node server.
### END INIT INFO

export HOME=/root

PID=/var/run/cloud9.pid
C9_SCRIPT="{{ workspace }}/c9sdk/server.js"
PROJECT_ROOT="{{ cloud9_project_root }}"
PORT="{{ cloud9_port }}"
LISTEN="{{ cloud9_listen }}"
FOREVER_BIN=/usr/bin/forever

# Carry out specific functions when asked to by the system
case "$1" in
  start)
    echo "Starting cloud9."
    $FOREVER_BIN start -a --pidFile $PID $C9_SCRIPT -p $PORT -l $LISTEN -a : -w $PROJECT_ROOT
    ;;
  stop)
    if [ -f $PID ]; then
      echo "Stopping cloud9.";
      $FOREVER_BIN stop $(cat $PID);
    else
      echo "shout is not running.";
    fi
    ;;
  restart)
    echo "Restarting Cloud9."
    if [ -f $PID ]; then
      $FOREVER_BIN stop $(cat $PID);
    fi
    $FOREVER_BIN start -a --pidFile $PID $C9_SCRIPT -p $PORT -l $LISTEN -a : -w $PROJECT_ROOT
    ;;
  status)
    if [ -f $PID ]; then
      echo "Cloud9 is running.";
    else
      echo "Cloud9 is not running.";
      exit 3
    fi
    ;;
  *)
    echo "Usage: /etc/init.d/shout {start|stop|status|restart}"
    exit 1
    ;;
esac

exit 0